@import "./reset.scss";
@import "./fonts.scss";
@import "./colors.scss";
@import "./header.scss";
@import "./page.scss";
@import "./brands.scss";
@import "./hardware.scss";




body {
  font-size: 100%;
  font-family: "TT Lakes", sans-serif;
  background-color: $bgColor;
  color: $text-dark;
}


